body
{
    color: #6c6a74;
	font-family: 'Kanit', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');
.icon {
    width: 100px;
    height: 100px;
    background: #17b978;
    margin: 0 auto;
    margin-bottom: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }